* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-nav {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0px;
  width: calc(100vw - 14.1px);
  height: 100px;
  background-color: rgb(18, 18, 18);
  align-items: center;
  justify-content: space-around;
  color: dimgray;
}
.main-nav a {
  text-decoration: none;
  color: dimgray;
}
.main-nav a:hover {
  color: white;
}
.main-nav .nav-title {
  font-size: calc(1.5vw + 1.5vh);
  color: white;
}
.main-nav .nav-button {
  font-size: 120%;
  font-size: calc(1vw + 1vh);
}

.nav-list {
  /*visibility:hidden;*/
  position: fixed;
  background-color: rgb(18, 18, 18);
  padding: 5px 10px;
}
.nav-list .edit-list-tale {
  padding: 2px 2px;
}
.nav-list .edit-list-tale a {
  color: dimgray;
}
.nav-list .edit-list-tale a:hover {
  color: white;
}

.edit {
  visibility: hidden;
  left: calc(50% - 10px);
}

.delete {
  visibility: hidden;
  left: calc(70% - 10px);
}

.tale-menu {
  visibility: hidden;
  height: 65%;
  width: 100%;
}
.tale-menu .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  padding-left: 2%;
  padding-top: 1%;
}
.tale-menu .top-icon {
  width: 20%;
}
.tale-menu .mid {
  height: 60%;
  display: flex;
  flex-direction: row;
}
.tale-menu .mid .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
.tale-menu .mid .center {
  width: 60%;
}
.tale-menu .mid .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  margin-right: 2%;
}
.tale-menu .bot {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tale-menu .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 4.5vw;
  border-radius: 100%;
  background-color: rgb(18, 18, 18);
  color: dimgray;
}
.tale-menu .arrow:hover {
  color: white;
}

.tale:hover > .tale-menu {
  visibility: visible;
}
