* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../Img/jaga.jpg);
  background-size: cover;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
}

.main-icon {
  position: absolute;
  padding: 20px 20px;
  background-color: midnightblue;
  transform: translateY(-25vh);
  border-radius: 50%;
  color: black;
  font-size: 33px;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  min-height: 300px;
  width: 70vw;
  max-width: 550px;
  min-width: 300px;
  background-color: Background;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}
.main-container .login {
  display: flex;
  justify-content: center;
  height: 20%;
  min-height: 55px;
  width: 90%;
  transform: translateY(25px);
}
.main-container .icon {
  display: flex;
  font-size: 20px;
  background-color: dimgray;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 10%;
}
.main-container .input {
  height: 60%;
  width: 80%;
  padding-left: 2%;
  font-size: 16px;
}
.main-container input::placeholder {
  color: black;
}
.main-container .password {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  min-height: 55px;
  height: 20%;
  width: 90%;
}

.btn-container .btn {
  padding: 4px 2px;
  width: 100px;
  background-color: dimgray;
  left: 30%;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
}

@media (max-height: 400px) {
  .main-icon {
    display: none;
  }
}
@media (min-width: 800px) {
  .main-icon {
    padding: 3% 3%;
    font-size: 250%;
  }
}
