<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Bajki</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
		  rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;600;700&display=swap"
		  rel="stylesheet" />
	<link rel="stylesheet" href="/Css/css.css" />
</head>
<body>
	<header class="head">
		<h1 class="title">Bajki Dla Dzieci</h1>
		@*<h2 class="sub-title">i dorosłych</h2>*@
		<div class="bg-dark"></div>
	</header>
	<div class="from-author">
		Na tej stronie znajduje się zbiór bajek mojego autorstwa, mam nadzieję, że
		wam się spodobają
	</div>

	<div class="author">
		<p>~Imie Nazwisko</p>
	</div>
	<main>
		<div class="tales">
			<a href="#" class="tale tale1"><div class="tales-name">Czerwony kapturek</div></a>
			<a href="" class="tale tale2">
				<div class="tales-name">Stoliczku nakryj się</div>
			</a>
			<a href="" class="tale tale3">
				<div class="tales-name">Królewna Śnieżka</div>
			</a>
			<a href="" class="tale tale4">
				<div class="tales-name">Roszpunka</div>
			</a>
			<a href="" class="tale tale5">
				<div class="tales-name">Jaś i Małgosia</div>
			</a>
			<a href="" class="tale tale6">
				<div class="tales-name">Baba Jaga</div>
			</a>
		</div>
	</main>
</body>
</html>
