@using bajki.Models;
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Bajki</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
		  rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;600;700&display=swap"
		  rel="stylesheet" />
	<link rel="stylesheet" href="/Css/bajki.css" />
</head>
<body>
	<header class="head">
		<h1 class="title">Bajki Dla Dzieci</h1>
		@*<h2 class="sub-title">i dorosłych</h2>*@
		<div class="bg-dark"></div>
	</header>
	<div class="from-author">
		Na tej stronie znajduje się zbiór bajek mojego autorstwa, mam nadzieję, że
		wam się spodobają
	</div>

	<div class="author">
		<p>~Imie Nazwisko</p>
	</div>
	<main>
		@{
			List<Tale> TaleList = ViewBag.TaleList;
		}
		<div class="tales">
			@foreach(Tale tale in TaleList)
			{


				<a href="@tale.Id" class="tale" style='background-image: url(@tale.Miniature); text-decoration:none;'>
					<div class="tales-name">@tale.Title</div>
				</a>
			}
		</div>
	</main>
	<script src="/JS/index.js"></script>
</body>
</html>
